@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<script src="~/js/static/js/2.88395d02.chunk.js"></script>
<script src="~/js/static/js/main.946b3d4d.chunk.js"></script>
<script src="~/js/static/js/runtime-main.c49fe6cc.js"></script>

@*<div class="text-center">
        <h1 class="display-4">Add new post</h1>
    </div>
    <div>
        <form asp-area="Admin" asp-controller="Post" asp-action="Create">
            <div class="form-group">
                <label for="exampleFormControlInput1">Title</label>
                <input type="search" class="form-control" id="exampleFormControlInput1" placeholder="Title" name="Title">
            </div>
            <div class="form-group">
                <label for="contentArea">Example textarea</label>
                <textarea class="form-control" id="contentArea" rows="3" name="Content"></textarea>
            </div>
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>*@

<div id="root"></div>
<script src="~/js/static/js/2.88395d02.chunk.js"></script>
<script src="~/js/static/js/main.946b3d4d.chunk.js"></script>
<script src="~/js/static/js/runtime-main.c49fe6cc.js"></script>